@import "src/styles";
@import-normalize;

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

html, body {
  overflow: hidden;
}

.ambient {
  position: fixed;
  top: 0;
  right: 0;
  width: 70vw;
  height: 100vh;
  z-index: 1;
  user-select: none;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @media screen and (max-width: 1360px) {
    width: 100%;
  }

  @media screen and (max-width: $mobile-device) {
    background-position: 70% 50%;
  }
}

