@import "src/styles";

@mixin ambient-hover($opacity: 1) {
  opacity: 0;
  transition: opacity ease-in-out 0.45s;

  &:global(.active) {
    opacity: $opacity;
  }
}

.infoContainer {
  @media screen and (max-width: $mobile-device) {
    flex-direction: column !important;
    gap: 8px !important;

    .additionalText {
      font-size: 14px !important;
    }
  }
}

.ambient {
  background-image: url("/assets/home-ambient.png");
  @include ambient-hover();
}

.ambientCity {
  background-image: url("/assets/city-ambient.png");
  @include ambient-hover(0.1);
}

.ambientMe {
  background-image: url("/assets/me-ambient.png");
  @include ambient-hover(0.1);
}

.additionalText {
  user-select: none;
  cursor: pointer;

  @media screen and (max-width: $mobile-device) {
    font-size: 20px !important;
  }
}
