$black: var(--black);
$white: var(--white);
$casual-gray: var(--casual-gray);

$main-color: var(--main-color);
$text-color: var(--text-color);

$yellow: var(--yellow);
$green: var(--green);
$red: var(--red);

$card-background: var(--card-background);
$card-border: var(--card-border);
$card-glow: var(--card-glow);
$card-border-glow: var(--card-border-glow);

$icon-button-background: var(--icon-button-background);

$read-more-background: var(--read-more-background);

$project-btn-background: var(--project-btn-background);

$mobile-menu-background: var(--mobile-menu-background);
$mobile-menu-ambient-opacity: var(--mobile-menu-ambient-opacity);
