@import "src/styles";

.hub {
  display: flex;
  flex-direction: column-reverse !important;

  @media screen and (max-width: $mobile-device) {
    flex-direction: row !important;
  }
}

.hubIcon {
  @media screen and (max-width: $small-device) and (min-width: $mobile-device) {
    width: 36px;
    height: 36px;

    svg {
      transform: scale(0.8);
    }
  }
}

.hubRow {
  flex-direction: row-reverse !important;
}

.translationText {
  text-transform: uppercase;
  user-select: none;

  @media screen and (max-width: $small-device) {
    font-size: 14px !important;
  }
}
