@import "src/styles";

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.imageWrapper {
  flex: 1 1 500px;
  height: auto;
  border-radius: 20px;
  overflow: hidden;

  @media screen and (max-width: 1193px) {
    height: 200px;
  }
}

.image {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.mainCard {
  flex: 1 1 500px;
  justify-content: space-between;
}

.paragraph {
  color: $casual-gray;
}

.footer {
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $card-border;
  padding: 24px 24px 0px;
}

.techStack {
  font-size: 32px;
  color: white;
  cursor: pointer;
  user-select: none;
}
