@import "src/styles";

.list {
  padding-left: 50px;
  margin: 0;
  list-style: none;
  display: grid;
  gap: 30px 0;
  counter-reset: nav-list;
}

.item {
  position: relative;

  display: inline-flex;

  width: 100%;

  counter-increment: nav-list;
  user-select: none;
  cursor: pointer;

  &:before {
    display: inline-flex;
    content: "0 " counter(nav-list);

    position: absolute;
    left: -50px;
    bottom: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -1px;
  }

  &:global(.active) {
    &::after {
      content: "";

      position: absolute;
      right: -56px;
      top: 50%;

      width: 48px;
      height: 1px;

      background: $text-color;

      transform: translateY(-50%);
    }
  }
}
